@model GuardaCapitalEuropeia.Models.Restaurantes

@{
    ViewData["Title"] = "Introduza o seu restaurante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: black;
        text-align: center;
    }

    table {
        background-color: #353636;
        text-align: center;
    }

    th {
        color: white;
    }
    .center{
        margin-left:auto;
        margin-right:auto;
    }

    .btn-style {
        color: black;
        background-color: white;
        font-weight: bold;
        box-shadow: 0 9px #999;
    }

        .btn-style:hover {
            background-color: #a7a6a6;
        }

        .btn-style:active {
            background-color: #a7a6a6;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        h
</style>

<h1 style="color:white">Introduzir</h1>

<h4 style="color:white">Restaurante</h4>
<hr />
<div class="row">
    <div class="col-md-4 center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitMax" class="control-label"></label>
                <input asp-for="LimitMax" class="form-control" />
                <span asp-validation-for="LimitMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-style" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
