<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sobre Nós</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>A nossa missão</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="assets/img/LOGO2" alt="" style="width: 150px; height: 150px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Quem somos e o que fazemos</h4>
                        <p>Somos um grupo de estudantes que decidiu desenvolver este projeto com o intuito de criação de uma ferramenta util para a Guarda Capital Europeia da Cultura 2027 <br><br>A ideia é criar um site que possa dar a conhecer a todos os visitantes da Cidade da Guarda uma experiencia gastronómica enriquecedora.</p>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/pg/politecnicodaguarda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
                            <li><a class="mx-2" href="https://www.facebook.com/pg/politecnicodaguarda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="mx-2" href="https://www.instagram.com/politecnicodaguarda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="mx-2" href="https://github.com/JoaoSaraiva1/CapitalEuropeia" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>