<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />


</head>
<body align:center>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Sobre Nós</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>A nossa missão</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="~/img/LOGO2.jpg" alt="Este é o nosso Logo" style="width: 250px; height: 150px">
                    </div>
                </div>
                <section class="contact-section bg-black">
                    <div class="col-md-6">
                        <div class="center-content">
                            <h4>Quem somos e o que fazemos</h4>
                            <p>Somos um grupo de estudantes que decidiu desenvolver este projeto com o intuito de criação de uma ferramenta util para a Guarda Capital Europeia da Cultura 2027 <br><br>A ideia é criar um site que possa dar a conhecer a todos os visitantes da Cidade da Guarda uma experiencia gastronómica enriquecedora.</p>
                        </div>
                    </div>
                </section>
                <!-- Contact-->
                <section class="contact-section bg-black">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="card py-4 h-100">
                                    <div class="card-body text-center">
                                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                        <h4 class="text-uppercase m-0">Address</h4>
                                        <hr class="my-4" />
                                        <div class="small text-black-50">Av. Dr. Francisco Sá Carneiro 50, 6300-559 Guarda</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="card py-4 h-100">
                                    <div class="card-body text-center">
                                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                        <h4 class="text-uppercase m-0">Phone</h4>
                                        <hr class="my-4" />
                                        <div class="small text-black-50">+351 271 220 100</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social d-flex justify-content-center">
                            <a class="mx-2" href="https://www.facebook.com/pg/politecnicodaguarda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-2" href="https://www.instagram.com/politecnicodaguarda/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                            <a class="mx-2" href="https://github.com/JoaoSaraiva1/GuardaCapitalEuropeia" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>