<!DOCTYPE html>
<html>




<head>
    <title>Localizações de restaurantes</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. /
        #map {
            height: 100%;
            background-color: grey;
        }
        #frame {

            align:center;
        }


            / Optional: Makes the sample page fill the window. /
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        / TODO: Step 4A1: Make a generic sidebar. */
    </style>
</head>

<body>
    <!-- TODO: Step 4A2: Add a generic sidebar -->
    <!-- Map appears here -->
    <div id="frame">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6064.317565715694!2d-7.2800257704721725!3d40.538081021052825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurantes!5e0!3m2!1spt-PT!2spt!4v1605176457373!5m2!1spt-PT!2spt"
                width="800" height="450" frameborder="0" style="border:5px solid yellow;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</body>

</html>